<html>
  <head>
    <title>Google Map API</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
     <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='stylesheet' href='/stylesheets/main.css' />
     <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />

  </head>
  <body>
    <!-- Header -->
  			<header id="header" class="alt">
  				<div class="logo"><a href="/"></a></div>
  				<a href="#menu">Menu</a>
  			</header>

  		<!-- Nav -->
  			<nav id="menu">
  				<ul class="links">
  					<li><a href="/">Home</a></li>
  				</ul>
  			</nav>

  		<!-- Banner -->
  			<section id="banner">
  				<div class="inner">
  					<header>
  						<h1>This is Google Map API</h1>
  					</header>
  					<a href="/myapp" class="button big scrolly">Search Nearby Places</a>
  				</div>
  			</section>

  		<!-- Main -->
  			<div id="main">

  				<!-- Section -->
  					<section class="wrapper style1">
  						<div class="inner">
  							<!-- 2 Columns -->
  								<div class="flex flex-2">
  									<div class="col col1">
  										<div class="image round fit">
  											<a href="/" class="link"><img src="images/pic01.jpg" alt="" /></a>
  										</div>
  									</div>
  									<div class="col col2">
  										<h3>Restaurant</h3>
  										<p>Restaurant! It is a most popular name in the present world. Many people do not have their meal in their home, they always take meal and food from restaurant.  Restaurant is a public place, which opens to all for selling food and beverage to any person and peoples. We are visit restaurant and take food from restaurant. But we don’t the proper meaning or definition of Restaurant.
  												Sometimes many peoples think that Restaurant and Hotel is same things and its definition is also same.</p>
  										<p>Restaurant is a public place. Provide Food and Beverage on a commercial basis. This is open to all to take refreshment, Food and beverage. Everybody can take food and Beverage against money. Restaurant offer service of Food and Beverage desires to
  											satisfy the Guest. Actually, Guest take Rest in restaurant and pay Rent for the having refreshment, food and beverage. Restaurant comes from the word of “Rest and Rent”. “Rest & Rent” those words consisting the word restaurant. Where the guest/client/peoples take their Food & beverage.
  										</p>
  										<a href="#" class="button">View More</a>
  									</div>
  								</div>
  						</div>
  					</section>

  				<!-- Section -->
  					<section class="wrapper style2">
  						<div class="inner">
  							<div class="flex flex-2">
  								<div class="col col2">
  									<h3>Coffee Shop</h3>
  									<p>A coffeehouse, coffee shop or café (sometimes spelt cafe) is an establishment which primarily serves hot coffee, related coffee beverages (café latte, cappuccino, espresso), tea, and other hot beverages. Some coffeehouses also serve cold beverages such as iced coffee and iced tea. Many cafés also serve some type of food, such as light snacks, muffins or pastries. Coffeehouses range from owner-operated small businesses to large multinational corporations.</p>
  									<p>Coffee trees are pruned short to conserve their energy and aid in harvesting, but can grow to more than 30 feet (9 meters) high. Each tree is covered with green, waxy leaves growing opposite each other in pairs. Coffee cherries grow along the branches. Because it grows in a continuous cycle, it’s not unusual to see flowers, green fruit and ripe fruit simultaneously on a single tree. </p>
  									<a href="#" class="button">View More</a>
  								</div>
  								<div class="col col1 first">
  									<div class="image round fit">
  										<a href="/" class="link"><img src="images/pic02.jpg" alt="" /></a>
  									</div>
  								</div>
  							</div>
  						</div>
  					</section>

  				<!-- Section -->
  					<section class="wrapper style1">
  						<div class="inner">
  							<header class="align-center">
  								<h2>Other Establishments</h2>
  								<p>These are common establishments. This is Pharmacy, Burger Shop and Hospital</p>
  							</header>
  							<div class="flex flex-3">
  								<div class="col align-center">
  									<div class="image round fit">
  										<img src="images/pic03.jpg" alt="" />
  									</div>
  									<p>Pharmacy is the science and technique of preparing and dispensing drugs. It is a health profession that links health sciences with chemical sciences and aims to ensure the safe and effective use of pharmaceutical drugs. </p>
  									<a href="#" class="button">View More</a>
  								</div>
  								<div class="col align-center">
  									<div class="image round fit">
  										<img src="images/pic05.jpg" alt="" />
  									</div>
  									<p>A hospital is a health care institution providing patient treatment with specialized medical and nursing staff and medical equipment. The best-known type of hospital is the general hospital, which typically has an emergency. </p>
  									<a href="#" class="button">View More</a>
  								</div>
  								<div class="col align-center">
  									<div class="image round fit">
  										<img src="images/pic04.jpg" alt="" />
  									</div>
  									<p>At Burger shop you will find the freshest, highest quality burgers and more. We have been proudly serving Staten Island with the most delicious burgers, sandwiches, salads, and chicken entrees since 2015.  </p>
  									<a href="#" class="button">View More</a>
  								</div>
  							</div>
  						</div>
  					</section>

  			</div>

  		<!-- Footer -->
  			<footer id="footer">
  				<div class="copyright">
  					<ul class="icons">
  						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
  						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
  						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
  					</ul>
  					<p>&copy; Untitled. All rights reserved. Design:</p>
  				</div>
  			</footer>

  		<!-- Scripts -->
  			<script src="assets/js/jquery.min.js"></script>
  			<script src="assets/js/jquery.scrolly.min.js"></script>
  			<script src="assets/js/jquery.scrollex.min.js"></script>
  			<script src="assets/js/skel.min.js"></script>
  			<script src="assets/js/util.js"></script>
  			<script src="assets/js/main.js"></script>
  </body>

</html>
